

body {
    font-family: Arial, sans-serif;
    background-color: #202020;
    color: white;
    margin: 0;
}

header {
    background-color: #111111;
    padding: 25px;
    text-align: center;
}

main {
    width: 85%;
    margin: auto;
}

h2 {
    color: #eeeeee;
    border-bottom: 2px solid #555555;
    padding-bottom: 8px;
    margin-top: 30px;
}

p {
    line-height: 1.6;
    font-size: 16px;
}

img {
    display: block;
    margin: 20px auto;
}


table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}


th {
    background-color: #444444;
    color: white;
}


th,
td {
    border: 1px solid #777777;
    padding: 12px;
}

nav {
    margin-top: 20px;
}



#Isaac {
    color: #d32f2f;
}


#Factorio {
    color: #f5a623;
}





.subtitulo {
    font-size: 18px;
    color: #cccccc;
}



.lista {
    background-color: #303030;
    padding: 20px;
    border: 1px solid #555555;
}



.destaque {
    background-color: #333333;
    border-left: 5px solid #f5a623;
    padding: 15px;
}


.imagem-jogo {
    width: 500px;
    max-width: 90%;
}




a:hover {
    color: yellow;
}



a:visited {
    color: #b39ddb;
}


li:hover {
    background-color: #444444;
}


    color: red;
}



nav a {
    color: white;
    margin: 10px;
    font-weight: bold;
}

footer {
    background-color: #111111;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

